:root {
    --acent-color : #10B981;
}

* {
    box-sizing: border-box;
}

body {
    margin: 50px 52px 0;
    background-color: #1F2937;

}

h1 {
    color: white;
    margin-bottom: 10px;
    
}

span {
    color: var(--acent-color)
}

p {
    color: #D5D4D8;
    margin-top: 0px;
}

button {
    width: 200px;
    height: 42px;
    margin-top: 50px;
    padding: 10px 15px;
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    color: white; 
}

hr {
    max-width: 425px;
    border: 1px solid #2F3E53;
    margin: 30px 0;
}

.password-box {
    width: 200px;
    height: 40px;
    background-color: #273549;
    border-radius: 6px;
    text-align: center;
    padding-top: 12px;
    
}

.password-box p { 
    color: #55F991;
}

.password-cont {
    max-width: 450px;
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}
